<!DOCTYPE html>
<html>
  <head>
    <title>harithushan-Inc Careers</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        harithushan's Career-Hub
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
      <p class="lead">
         Welcome to Harithushan Inc Careers!<br>At Harithushan Inc, we believe in fostering a dynamic and innovative work environment where talented individuals can thrive and make a significant impact. Join our team and be part of an organization that is driven by excellence, collaboration, and a passion for creating cutting-edge solutions. We are constantly seeking passionate professionals who are eager to take on challenges and push the boundaries of what is possible. As a member of our team, you will have the opportunity to work on exciting projects that span various industries and domains, ranging from technology and healthcare to finance and beyond.    
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/people.jpg" style="height:320px;border-radius:4px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      <div class="text-center">
      <a class="btn btn-primary btn-lg" href="mailto:harithushan2@gmail.com?subject=Question%20about%20Job%20Opernings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20questions%3A%20%3Center%20question%20here%3E%0D%0A">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>